.board {
  $cell-size: 54px;
  $thick-pad: $border-size-thick;
  $thin-pad: $border-size-thin;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 0px;

  // TODO autoprefixer
  width: fit-content;
  width: -moz-fit-content;

  margin: auto;

  background-color: black;
  border-radius: $border-radius;

  .cell {
    width: $cell-size;
    height: $cell-size;

    padding-left: $thin-pad;
    padding-bottom: $thin-pad;
  }

  .cell:nth-child(9n) {
    padding-right: $thick-pad;
  }

  .cell:nth-child(3n+1) {
    padding-left: $thick-pad;
  }

  .cell:nth-last-child(n+73) {
    padding-top: $thick-pad;
  }

  .cell:nth-child(n+73),
  .cell:nth-child(n+46):nth-child(-n+54),
  .cell:nth-child(n+19):nth-child(-n+27) {
    padding-bottom: $thick-pad;
  }
}
