.button {
  $hover-color: $color-light-blue;

  padding: 0.5em;
  border: $border-med solid $color-black;
  border-radius: $border-radius;

  background-color: $color-white;
  color: $color-black;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  user-select: none;
  cursor: pointer;

  &:not(.button-active):hover {
    background-color: $hover-color;
  }

  &:active {
    background-color: $hover-color;
    padding-top: calc(0.5em + 1px);
    padding-bottom: calc(0.5em - 1px);
    box-shadow: inset 0px 1px $color-black;
  }

  // This refers to the active prop being set
  // Nothing to do with the :active pseudoclass
  &.button-active {
    background-color: $color-black;
    color: $color-white;
  }
}
