.modal {
  position: absolute;
  // Not super happy with these
  top: 30%;
  inset-inline: 40px;

  border: $border-med;
  border-radius: $border-radius;

  background-color: $color-white;

  padding: 20px;
  overflow: auto;

  .modal-title {
    margin-top: 0;
  }

  @media (min-width: 1200px) {
    inset-inline: 0;
    margin-inline: auto;
    max-width: 800px;
  }
}
