
// COLORS
$color-black: hsla(195, 60%, 4%, 1);
$color-white: hsla(195, 1%, 98%, 1);

$color-light-blue: hsla(195, 38%, 84%, 1);
$color-mid-blue: hsla(195, 93%, 32%, 1);


// BORDERS
$border-thick: 3px;
$border-med: 2px;
$border-thin: 1px;
$border-radius: 2px;
