
// COLORS
$color-black: hsla(195, 60%, 4%, 1);
$color-white: hsla(195, 1%, 98%, 1);

$color-light-blue: hsla(195, 38%, 84%, 1);
$color-mid-blue: hsla(195, 93%, 32%, 1);

// SIZING
:root {
  // Phones
  --cell-size: 32px;
  --cell-value-size: 27px;
  --cell-mark-size: 9px;
  --cell-corner-mark-center-offset: 9px;
  --cell-center-mark-word-spacing: -1px;
  --std-font-size: 16px;
  --header-font-size: 24px;

  // Tablets
  @media (orientation: portrait) and (min-width: 560px),
  (orientation:landscape) and (min-height: 560px) {
    --cell-size: 56px;
    --cell-value-size: 40px;
    --cell-mark-size: 11px;
    --cell-corner-mark-center-offset: 20px;
    --cell-center-mark-word-spacing: normal;
    --std-font-size: 18px;
    --header-font-size: 26px;
  }

  // Larger desktops
  @media (min-width: 1200px) {
    --cell-size: 80px;
    --cell-value-size: 60px;
    --cell-mark-size: 18px;
    --cell-corner-mark-center-offset: 28px;
    --cell-center-mark-word-spacing: normal;
    --std-font-size: 20px;
    --header-font-size: 28px;
  }
}

// BORDERS
$border-radius: 2px;

$border-size-thick: 3px;
$border-size-med: 2px;
$border-size-thin: 1px;

$border-color: $color-black;

$border-thick: $border-size-thick solid $border-color;
$border-med: $border-size-med solid $border-color;
$border-thin: $border-size-thin solid $border-color;

