*, ::before, ::after {
  box-sizing: border-box;
}

body {
  position: fixed;
  overflow: hidden;
  inset: 0;
  margin: 0;
  overscroll-behavior: none;
  touch-action: none;
}

@import 'variables.scss';

@import 'components/game-area.scss';
@import 'components/controls.scss';
@import 'components/board.scss';
@import 'components/cell.scss';
@import 'components/button.scss';
@import 'components/modal.scss';
